ALTER TABLE redemption_approvals ADD COLUMN IF NOT EXISTS partner_paid BOOLEAN DEFAULT false; ALTER TABLE redemption_approvals ADD COLUMN IF NOT EXISTS partner_payout_ref TEXT; ALTER TABLE redemption_approvals ADD COLUMN IF NOT EXISTS partner_payout_at TIMESTAMPTZ;
